<div class="row">
    <div class="col-4 member-detail-left">
        <div class="card">
            <div class="card-image-wrapper text-center">
                <img
                    class="card-img-top img-thumbnail"
                    src="{{ member.photoUrl || './assets/user.png' }}"
                    alt="{{ member.knownAs }}"
                />
            </div>
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{ member.city }}, {{ member.country }}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{ member.age }}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{ member.lastActive + "Z" | timeAgo }}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{ member.created | date : "longDate" }}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button
                        class="btn btn-success"
                        (click)="selectTab('Messages')"
                    >
                        Messages
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 member-detail-right">
        <tabset class="member-tabset" #memberTabs>
            <tab
                heading="About {{ member.knownAs }}"
                (selectTab)="onTabActivated($event)"
            >
                <div class="tab-member-content">
                    <h4>Description</h4>
                    <p>{{ member.introduction }}</p>
                    <h4>Looking for</h4>
                    <p>{{ member.lookingFor }}</p>
                </div>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <div class="tab-member-content">
                    <h4>Interests</h4>
                    {{ member.interests }}
                </div>
            </tab>
            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <div class="tab-member-content">
                    <ngx-gallery
                        *ngIf="galleryImages.length > 0"
                        class="ngx-gallery"
                        [images]="galleryImages"
                        [options]="galleryOptions"
                    ></ngx-gallery>
                </div>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <div class="tab-member-content">
                    <app-member-messages
                        [username]="member.userName"
                        [messages]="messages"
                    ></app-member-messages></div
            ></tab>
        </tabset>
    </div>
</div>
