<ng-container *ngIf="memberData$ | async as member" class="h-100">
    <div class="row mb-5">
        <div class="col-4">
            <h3>Your Profile</h3>
        </div>
        <div class="col-8">
            <div class="alert alert-info" *ngIf="editMemberForm.dirty">
                <p class="mb-0">
                    <strong>Information: </strong>You have made changes. Any
                    unsaved changes will be lost
                </p>
            </div>
        </div>
        <div class="col-4 member-detail-left">
            <div class="card">
                <div class="card-image-wrapper text-center p-4">
                    <img
                        class="rounded-circle w-50 border border-2 border-success"
                        src="{{ member.photoUrl || './assets/user.png' }}"
                        alt="{{ member.knownAs }}"
                    />
                </div>
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{ member.city }}, {{ member.country }}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{ member.age }}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{ member.lastActive }}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{ member.created }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button
                        class="btn btn-success col-12"
                        type="submit"
                        form="editMemberForm"
                        [disabled]="!editMemberForm.dirty"
                    >
                        Save changes
                    </button>
                </div>
            </div>
        </div>
        <div class="col-8 member-detail-right">
            <tabset class="member-tabset">
                <tab heading="About {{ member.knownAs }}">
                    <div class="tab-member-content">
                        <form
                            id="editMemberForm"
                            #editMemberForm="ngForm"
                            (ngSubmit)="updateMember()"
                        >
                            <h4 class="mt-2">Description</h4>
                            <textarea
                                class="form-control"
                                [(ngModel)]="member.introduction"
                                name="introduction"
                                rows="6"
                            ></textarea>
                            <h4 class="mt-2">Looking for</h4>
                            <textarea
                                class="form-control"
                                [(ngModel)]="member.lookingFor"
                                name="lookingFor"
                                rows="6"
                            ></textarea>
                            <h4 class="mt-2">Interests</h4>
                            <textarea
                                class="form-control"
                                [(ngModel)]="member.interests"
                                name="interests"
                                rows="6"
                            ></textarea>
                            <h4 class="mt-2">Location Details:</h4>
                            <div class="d-flex flex-row align-items-center">
                                <label for="city">City:</label>
                                <input
                                    type="text"
                                    [(ngModel)]="member.city"
                                    name="city"
                                    class="form-control mx-2"
                                />
                                <label for="country">Country:</label>
                                <input
                                    type="text"
                                    [(ngModel)]="member.country"
                                    name="country"
                                    class="form-control ms-2"
                                />
                            </div>
                        </form>
                    </div>
                </tab>
                <tab heading="Edit Photos">
                    <div class="tab-member-content">
                        <app-photo-editor [member]="member"></app-photo-editor>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</ng-container>
