<div class="container mt-5" *ngIf="!(accountService.currentUser$ | async)">
    <div class="text-center" *ngIf="!registerMode">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... Sign up now!</p>
        <div class="text-center">
            <button
                class="btn bg-dark text-light btn-lg me-2"
                (click)="registerToggle()"
            >
                Register
            </button>
            <button class="btn btn-outline-success btn-lg">Learn more</button>
        </div>
    </div>
    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register
                    (cancelRegister)="cancelRegisterMode($event)"
                ></app-register>
            </div>
        </div>
    </div>
</div>
