<form
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
    autocomplete="off"
    *ngIf="!(accountService.currentUser$ | async)"
>
    <h2 class="text-center">Sign Up</h2>
    <hr />
    <div class="mb-3">
        <div class="mb-3">
            <label class="me-3">I am a: </label>
            <div class="form-check form-check-inline">
                <input
                    type="radio"
                    formControlName="gender"
                    class="form-check-input"
                    value="male"
                    id="male"
                />
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    type="radio"
                    formControlName="gender"
                    class="form-check-input"
                    value="female"
                    id="female"
                />
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>
        <app-text-input
            [formControl]="username"
            label="Username"
        ></app-text-input>
        <app-text-input
            [formControl]="password"
            [type]="'password'"
            [label]="'Password'"
        ></app-text-input>
        <app-text-input
            [formControl]="confirmPassword"
            [type]="'password'"
            [label]="'Confirm Password'"
        ></app-text-input>
        <app-text-input
            [formControl]="knownAs"
            label="Known As"
        ></app-text-input>
        <app-date-picker
            [formControl]="dateOfBirth"
            label="Date of Birth"
            [maxDate]="maxDate"
        ></app-date-picker>
        <app-text-input [formControl]="city" label="City"></app-text-input>
        <app-text-input
            [formControl]="country"
            label="Country"
        ></app-text-input>
    </div>
    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{ error }}
            </li>
        </ul>
    </div>
    <div class="text-center">
        <button
            [disabled]="!registerForm.valid"
            class="btn btn-lg btn-success me-2"
            type="submit"
        >
            Register
        </button>
        <button
            class="btn btn-lg btn-outline-secondary"
            type="button"
            (click)="onCancel()"
        >
            Cancel
        </button>
    </div>
</form>
<br />
<br />
<p>Form values: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
