<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid mx-5 py-2">
        <a class="navbar-brand" routerLink="/">Social App</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ng-container *ngIf="accountService.isLoggedin$ | async">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/members"
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active"
                        >Matches</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/lists"
                        routerLinkActive="active"
                        >List</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/messages"
                        routerLinkActive="active"
                        >Message</a
                    >
                </li>
            </ng-container>
        </ul>

        <div
            class="dropdown"
            dropdown
            *ngIf="accountService.currentUser$ | async as user"
        >
            <a
                dropdownToggle
                class="dropdown-toggle text-light text-decoration-none"
                role="button"
            >
                <img
                    src="{{ user.photoUrl || './assets/user.png' }}"
                    alt="{{ user.username }}"
                    width="50"
                    class="rounded-circle"
                    [tooltip]="user.knownAs"
                />
            </a>
            <div class="dropdown-menu dropdown-menu-end mt-3" *dropdownMenu>
                <a
                    routerLink="/member/edit"
                    class="dropdown-item cursor-pointer"
                    role="button"
                    >Edit Profile</a
                >
                <a class="dropdown-item" role="button" (click)="onLogout()"
                    >Logout</a
                >
            </div>
        </div>

        <form
            #loginForm="ngForm"
            class="d-flex gap-3"
            (ngSubmit)="onLogin()"
            autocomplete="off"
            *ngIf="!(accountService.isLoggedin$ | async)"
        >
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control form-control-sm"
                type="text"
                placeholder="Username"
                autocomplete="username"
            />
            <input
                name="password"
                [(ngModel)]="model.password"
                class="form-control form-control-sm"
                type="password"
                placeholder="Password"
                autocomplete="current-password"
            />
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</nav>
